body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(250, 71, 71);
}
.game-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 85%;
  margin: auto;
  margin-top: 3vw;
  padding: 0 35px;
  line-height: 1.7;
  background-color: white;
  border-radius: 20px;
}

.player-0-panel,
.player-1-panel,
.player-stuff {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5%;
}

.player-0-panel {
  margin: 70px 0 70px 0;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 5ch;
  text-align: center;
}

.player-1-panel {
  margin: 70px 0 70px 0;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  font-size: 5ch;
  text-align: center;
}

.player-stuff {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.player-score {
  color: rgb(250, 71, 71);
}

.player-current-box {
  font-size: 0.8ch;
  background-color: rgb(250, 71, 71);
  width: 50%;
  padding: 3%;
  margin-top: 180px;
  border-radius: 25px;
}

.dice {
  width: 100px;
  box-shadow: 10px 0 10px rgb(148, 147, 147);
}

.activePlayer {
  font-weight: bolder;
  background-color: rgba(250, 71, 71, 50%);
  border-radius: 50px;
}

.player-current .score {
  color: white;
}

.final-score {
  text-align: center;
  padding: 2%;
  border-radius: 5px;
}

.final-score,
#btn-roll,
#btn-hold,
#btn-new {
  font-size: 2.5ch;
}

#btn-roll,
#btn-hold,
#btn-new {
  background: none;
  border: none;
  cursor: pointer;
}

.ion-ios-download-outline,
.ion-ios-loop,
.ion-ios-plus-outline {
  padding-right: 1ch;
  color: rgb(250, 71, 71);
}

/* 
.player-1-panel,
.player-0-panel,
.game-area {
  border: 2px solid black;
}
*/
